.App {
  text-align: center;
  background-color: #F9F9F9;
  margin: auto;
  padding-top: 96px;
  width: 80%;
  min-width: 640px;
  min-height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filter-component {
/*style={{width: "20%", backgroundColor: "white", margin: "16px"}}*/
/*  display: flex;*/
}
.filter-component-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
